a:active{
  background-color: aquamarine;
}


#container{

  margin: 0 auto;

  max-width: 800px;
  padding: 20px;
  border: 1px solid red;


}
#page{
  display: flex;
  justify-self: center
}


#subpage{
  padding: 10px;
  border: 1px solid blue;
}
